// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/** 各ページごとのカラーを配置していく */

/** common */
$sunglow: #ffcc00;

/** top */
$jagged-ice: #bee9e9;
$snuff: #decae1;
$mine-shaft: #3b3b3b;
$sunglo: #e67a7a;
$mindaro: #d3f692;
$perfume: #d592f6;
$emperor: #555555;
$scotch-mist: #fff8dc;

/** quiz */
$red: #ff0000;
$cornflower-blue: #7777ee;
$spicy-pink: #796666;
$yellow: #ffff00;
$flirt: #a402a4;
$web-orange: #ffa500;
$pink: #ffc0cb;
$mexican-red: #a52a2a;
$dusty-gray: dusty-gray;
$white: #ffffff;
$cyan-aqua: #00ffff;
$magenta-fuchsia: #ff00ff;
$green: #00ff00;
$tall-poppy: #bc2424;
$blue-bell: #9e9ecc;
$olive: #808000;
$teal: #008080;
$lavender-magentao: #ee82ee;
$purple-heart: #8426c7;
$gold: #ffd700;
$silver: #c0c0c0;
$brandy-punch: #cd7f32;
$coral: #ff7f50;
$salmon: #fa8072;
$khaki: #f0e68c;
$moon-raker: #e6e6fa;
$peach: #ffe5b4;
$light-orchi: #dda0dd;
$orchid: #da70d6;
$mint-green: #98ff98;
