.red {
    background-color: $red;
}
.cornflower-blue {
    background-color: $cornflower-blue;
}
.spicy-pink {
    background-color: $spicy-pink;
}
.yellow {
    background-color: $yellow;
}
.flirt {
    background-color: $flirt;
}
.web-orange {
    background-color: $web-orange;
}
.pink {
    background-color: $pink;
}
.mexican-red {
    background-color: $mexican-red;
}
.dusty-gray {
    background-color: $dusty-gray;
}
.white {
    background-color: $white;
}
.cyan-aqua {
    background-color: $cyan-aqua;
}
.magenta-fuchsia {
    background-color: $magenta-fuchsia;
}
.green {
    background-color: $green;
}
.tall-poppy {
    background-color: $tall-poppy;
}
.blue-bell {
    background-color: $blue-bell;
}
.olive {
    background-color: $olive;
}
.teal {
    background-color: $teal;
}
.lavender-magentao {
    background-color: $lavender-magentao;
}
.purple-heart {
    background-color: $purple-heart;
}
.gold {
    background-color: $gold;
}
.silver {
    background-color: $silver;
}
.brandy-punch {
    background-color: $brandy-punch;
}
.coral {
    background-color: $coral;
}
.salmon {
    background-color: $salmon;
}
.khaki {
    background-color: $khaki;
}
.moon-raker {
    background-color: $moon-raker;
}
.peach {
    background-color: $peach;
}
.light-orchi {
    background-color: $light-orchi;
}
.orchid {
    background-color: $orchid;
}
.mint-green {
    background-color: $mint-green;
}
