.style-5 {
    // スピードワゴン
    .dot::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: -16px;
        left: -16px;
        background: transparent;
        box-shadow:
            16px 16px 0 0 rgba(0, 0, 0, 255),
            32px 16px 0 0 rgba(0, 0, 0, 1),
            48px 16px 0 0 rgba(70, 60, 78, 1),
            64px 16px 0 0 rgba(37, 24, 60, 1),
            80px 16px 0 0 rgba(37, 24, 60, 1),
            96px 16px 0 0 rgba(37, 24, 60, 1),
            112px 16px 0 0 rgba(37, 24, 60, 1),
            128px 16px 0 0 rgba(37, 24, 60, 1),
            144px 16px 0 0 rgba(37, 24, 60, 1),
            160px 16px 0 0 rgba(37, 24, 60, 1),
            176px 16px 0 0 rgba(37, 24, 60, 1),
            192px 16px 0 0 rgba(37, 24, 60, 1),
            208px 16px 0 0 rgba(37, 24, 60, 1),
            224px 16px 0 0 rgba(70, 60, 78, 1),
            240px 16px 0 0 rgba(0, 0, 0, 1),
            256px 16px 0 0 rgba(0, 0, 0, 255),
            16px 32px 0 0 rgba(0, 0, 0, 255),
            32px 32px 0 0 rgba(0, 0, 0, 1),
            48px 32px 0 0 rgba(70, 60, 78, 1),
            64px 32px 0 0 rgba(70, 60, 78, 1),
            80px 32px 0 0 rgba(37, 24, 60, 1),
            96px 32px 0 0 rgba(37, 24, 60, 1),
            112px 32px 0 0 rgba(37, 24, 60, 1),
            128px 32px 0 0 rgba(37, 24, 60, 1),
            144px 32px 0 0 rgba(37, 24, 60, 1),
            160px 32px 0 0 rgba(37, 24, 60, 1),
            176px 32px 0 0 rgba(37, 24, 60, 1),
            192px 32px 0 0 rgba(37, 24, 60, 1),
            208px 32px 0 0 rgba(70, 60, 78, 1),
            224px 32px 0 0 rgba(70, 60, 78, 1),
            240px 32px 0 0 rgba(0, 0, 0, 1),
            256px 32px 0 0 rgba(0, 0, 0, 1),
            16px 48px 0 0 rgba(0, 0, 0, 255),
            32px 48px 0 0 rgba(0, 0, 0, 1),
            48px 48px 0 0 rgba(70, 60, 78, 1),
            64px 48px 0 0 rgba(255, 255, 255, 1),
            80px 48px 0 0 rgba(70, 60, 78, 1),
            96px 48px 0 0 rgba(70, 60, 78, 1),
            112px 48px 0 0 rgba(255, 255, 255, 1),
            128px 48px 0 0 rgba(70, 60, 78, 1),
            144px 48px 0 0 rgba(70, 60, 78, 1),
            160px 48px 0 0 rgba(255, 255, 255, 1),
            176px 48px 0 0 rgba(70, 60, 78, 1),
            192px 48px 0 0 rgba(70, 60, 78, 1),
            208px 48px 0 0 rgba(255, 255, 255, 1),
            224px 48px 0 0 rgba(70, 60, 78, 1),
            240px 48px 0 0 rgba(0, 0, 0, 1),
            256px 48px 0 0 rgba(0, 0, 0, 1),
            16px 64px 0 0 rgba(0, 0, 0, 255),
            32px 64px 0 0 rgba(0, 0, 0, 1),
            48px 64px 0 0 rgba(255, 255, 255, 1),
            64px 64px 0 0 rgba(70, 60, 78, 1),
            80px 64px 0 0 rgba(255, 255, 255, 1),
            96px 64px 0 0 rgba(255, 255, 255, 1),
            112px 64px 0 0 rgba(70, 60, 78, 1),
            128px 64px 0 0 rgba(255, 255, 255, 1),
            144px 64px 0 0 rgba(255, 255, 255, 1),
            160px 64px 0 0 rgba(70, 60, 78, 1),
            176px 64px 0 0 rgba(255, 255, 255, 1),
            192px 64px 0 0 rgba(255, 255, 255, 1),
            208px 64px 0 0 rgba(70, 60, 78, 1),
            224px 64px 0 0 rgba(255, 255, 255, 1),
            240px 64px 0 0 rgba(0, 0, 0, 1),
            256px 64px 0 0 rgba(0, 0, 0, 1),
            16px 80px 0 0 rgba(0, 0, 0, 255),
            32px 80px 0 0 rgba(0, 0, 0, 1),
            48px 80px 0 0 rgba(70, 60, 78, 1),
            64px 80px 0 0 rgba(255, 255, 255, 1),
            80px 80px 0 0 rgba(70, 60, 78, 1),
            96px 80px 0 0 rgba(70, 60, 78, 1),
            112px 80px 0 0 rgba(255, 255, 255, 1),
            128px 80px 0 0 rgba(70, 60, 78, 1),
            144px 80px 0 0 rgba(70, 60, 78, 1),
            160px 80px 0 0 rgba(255, 255, 255, 1),
            176px 80px 0 0 rgba(70, 60, 78, 1),
            192px 80px 0 0 rgba(70, 60, 78, 1),
            208px 80px 0 0 rgba(255, 255, 255, 1),
            224px 80px 0 0 rgba(70, 60, 78, 1),
            240px 80px 0 0 rgba(0, 0, 0, 1),
            256px 80px 0 0 rgba(0, 0, 0, 255),
            16px 96px 0 0 rgba(0, 0, 0, 255),
            32px 96px 0 0 rgba(0, 0, 0, 1),
            48px 96px 0 0 rgba(70, 60, 78, 1),
            64px 96px 0 0 rgba(255, 255, 255, 1),
            80px 96px 0 0 rgba(70, 60, 78, 1),
            96px 96px 0 0 rgba(70, 60, 78, 1),
            112px 96px 0 0 rgba(255, 255, 255, 1),
            128px 96px 0 0 rgba(70, 60, 78, 1),
            144px 96px 0 0 rgba(70, 60, 78, 1),
            160px 96px 0 0 rgba(255, 255, 255, 1),
            176px 96px 0 0 rgba(70, 60, 78, 1),
            192px 96px 0 0 rgba(70, 60, 78, 1),
            208px 96px 0 0 rgba(255, 255, 255, 1),
            224px 96px 0 0 rgba(70, 60, 78, 1),
            240px 96px 0 0 rgba(0, 0, 0, 1),
            256px 96px 0 0 rgba(0, 0, 0, 255),
            16px 112px 0 0 rgba(0, 0, 0, 255),
            32px 112px 0 0 rgba(70, 60, 78, 1),
            48px 112px 0 0 rgba(255, 255, 255, 1),
            64px 112px 0 0 rgba(70, 60, 78, 1),
            80px 112px 0 0 rgba(255, 255, 255, 1),
            96px 112px 0 0 rgba(255, 255, 255, 1),
            112px 112px 0 0 rgba(70, 60, 78, 1),
            128px 112px 0 0 rgba(255, 255, 255, 1),
            144px 112px 0 0 rgba(255, 255, 255, 1),
            160px 112px 0 0 rgba(70, 60, 78, 1),
            176px 112px 0 0 rgba(255, 255, 255, 1),
            192px 112px 0 0 rgba(255, 255, 255, 1),
            208px 112px 0 0 rgba(70, 60, 78, 1),
            224px 112px 0 0 rgba(255, 255, 255, 1),
            240px 112px 0 0 rgba(70, 60, 78, 1),
            256px 112px 0 0 rgba(0, 0, 0, 1),
            16px 128px 0 0 rgba(70, 60, 78, 1),
            32px 128px 0 0 rgba(70, 60, 78, 1),
            48px 128px 0 0 rgba(70, 60, 78, 1),
            64px 128px 0 0 rgba(70, 60, 78, 1),
            80px 128px 0 0 rgba(70, 60, 78, 1),
            96px 128px 0 0 rgba(70, 60, 78, 1),
            112px 128px 0 0 rgba(70, 60, 78, 1),
            128px 128px 0 0 rgba(70, 60, 78, 1),
            144px 128px 0 0 rgba(70, 60, 78, 1),
            160px 128px 0 0 rgba(70, 60, 78, 1),
            176px 128px 0 0 rgba(70, 60, 78, 1),
            192px 128px 0 0 rgba(70, 60, 78, 1),
            208px 128px 0 0 rgba(70, 60, 78, 1),
            224px 128px 0 0 rgba(70, 60, 78, 1),
            240px 128px 0 0 rgba(70, 60, 78, 1),
            256px 128px 0 0 rgba(70, 60, 78, 1),
            16px 144px 0 0 rgba(156, 39, 176, 1),
            32px 144px 0 0 rgba(70, 60, 78, 1),
            48px 144px 0 0 rgba(70, 60, 78, 1),
            64px 144px 0 0 rgba(70, 60, 78, 1),
            80px 144px 0 0 rgba(70, 60, 78, 1),
            96px 144px 0 0 rgba(70, 60, 78, 1),
            112px 144px 0 0 rgba(70, 60, 78, 1),
            128px 144px 0 0 rgba(70, 60, 78, 1),
            144px 144px 0 0 rgba(70, 60, 78, 1),
            160px 144px 0 0 rgba(70, 60, 78, 1),
            176px 144px 0 0 rgba(70, 60, 78, 1),
            192px 144px 0 0 rgba(70, 60, 78, 1),
            208px 144px 0 0 rgba(70, 60, 78, 1),
            224px 144px 0 0 rgba(70, 60, 78, 1),
            240px 144px 0 0 rgba(156, 39, 176, 1),
            256px 144px 0 0 rgba(156, 39, 176, 1),
            16px 160px 0 0 rgba(0, 0, 0, 255),
            32px 160px 0 0 rgba(206, 176, 124, 1),
            48px 160px 0 0 rgba(255, 235, 59, 1),
            64px 160px 0 0 rgba(255, 235, 59, 1),
            80px 160px 0 0 rgba(251, 223, 171, 1),
            96px 160px 0 0 rgba(251, 223, 171, 1),
            112px 160px 0 0 rgba(251, 223, 171, 1),
            128px 160px 0 0 rgba(251, 223, 171, 1),
            144px 160px 0 0 rgba(251, 223, 171, 1),
            160px 160px 0 0 rgba(251, 223, 171, 1),
            176px 160px 0 0 rgba(251, 223, 171, 1),
            192px 160px 0 0 rgba(251, 223, 171, 1),
            208px 160px 0 0 rgba(255, 235, 59, 1),
            224px 160px 0 0 rgba(255, 235, 59, 1),
            240px 160px 0 0 rgba(206, 176, 124, 1),
            256px 160px 0 0 rgba(0, 0, 0, 1),
            16px 176px 0 0 rgba(255, 235, 59, 1),
            32px 176px 0 0 rgba(206, 176, 124, 1),
            48px 176px 0 0 rgba(255, 235, 59, 1),
            64px 176px 0 0 rgba(251, 223, 171, 1),
            80px 176px 0 0 rgba(63, 81, 181, 1),
            96px 176px 0 0 rgba(63, 81, 181, 1),
            112px 176px 0 0 rgba(251, 223, 171, 1),
            128px 176px 0 0 rgba(251, 223, 171, 1),
            144px 176px 0 0 rgba(251, 223, 171, 1),
            160px 176px 0 0 rgba(251, 223, 171, 1),
            176px 176px 0 0 rgba(63, 81, 181, 1),
            192px 176px 0 0 rgba(63, 81, 181, 1),
            208px 176px 0 0 rgba(251, 223, 171, 1),
            224px 176px 0 0 rgba(255, 235, 59, 1),
            240px 176px 0 0 rgba(206, 176, 124, 1),
            256px 176px 0 0 rgba(255, 235, 59, 1),
            16px 192px 0 0 rgba(0, 0, 0, 255),
            32px 192px 0 0 rgba(206, 176, 124, 1),
            48px 192px 0 0 rgba(206, 176, 124, 1),
            64px 192px 0 0 rgba(251, 223, 171, 1),
            80px 192px 0 0 rgba(63, 81, 181, 1),
            96px 192px 0 0 rgba(63, 81, 181, 1),
            112px 192px 0 0 rgba(251, 223, 171, 1),
            128px 192px 0 0 rgba(251, 223, 171, 1),
            144px 192px 0 0 rgba(251, 223, 171, 1),
            160px 192px 0 0 rgba(251, 223, 171, 1),
            176px 192px 0 0 rgba(63, 81, 181, 1),
            192px 192px 0 0 rgba(63, 81, 181, 1),
            208px 192px 0 0 rgba(251, 223, 171, 1),
            224px 192px 0 0 rgba(206, 176, 124, 1),
            240px 192px 0 0 rgba(206, 176, 124, 1),
            256px 192px 0 0 rgba(0, 0, 0, 255),
            16px 208px 0 0 rgba(0, 0, 0, 255),
            32px 208px 0 0 rgba(255, 235, 59, 1),
            48px 208px 0 0 rgba(206, 176, 124, 1),
            64px 208px 0 0 rgba(251, 223, 171, 1),
            80px 208px 0 0 rgba(251, 223, 171, 1),
            96px 208px 0 0 rgba(251, 223, 171, 1),
            112px 208px 0 0 rgba(251, 223, 171, 1),
            128px 208px 0 0 rgba(251, 223, 171, 1),
            144px 208px 0 0 rgba(251, 223, 171, 1),
            160px 208px 0 0 rgba(251, 223, 171, 1),
            176px 208px 0 0 rgba(251, 223, 171, 1),
            192px 208px 0 0 rgba(251, 223, 171, 1),
            208px 208px 0 0 rgba(251, 223, 171, 1),
            224px 208px 0 0 rgba(206, 176, 124, 1),
            240px 208px 0 0 rgba(255, 235, 59, 1),
            256px 208px 0 0 rgba(0, 0, 0, 1),
            16px 224px 0 0 rgba(0, 0, 0, 1),
            32px 224px 0 0 rgba(0, 0, 0, 1),
            48px 224px 0 0 rgba(255, 235, 59, 1),
            64px 224px 0 0 rgba(251, 223, 171, 1),
            80px 224px 0 0 rgba(251, 223, 171, 1),
            96px 224px 0 0 rgba(251, 223, 171, 1),
            112px 224px 0 0 rgba(251, 223, 171, 1),
            128px 224px 0 0 rgba(251, 223, 171, 1),
            144px 224px 0 0 rgba(251, 223, 171, 1),
            160px 224px 0 0 rgba(251, 223, 171, 1),
            176px 224px 0 0 rgba(251, 223, 171, 1),
            192px 224px 0 0 rgba(251, 223, 171, 1),
            208px 224px 0 0 rgba(251, 223, 171, 1),
            224px 224px 0 0 rgba(255, 235, 59, 1),
            240px 224px 0 0 rgba(0, 0, 0, 1),
            256px 224px 0 0 rgba(0, 0, 0, 1),
            16px 240px 0 0 rgba(0, 0, 0, 1),
            32px 240px 0 0 rgba(255, 235, 59, 1),
            48px 240px 0 0 rgba(255, 235, 59, 1),
            64px 240px 0 0 rgba(206, 176, 124, 1),
            80px 240px 0 0 rgba(251, 223, 171, 1),
            96px 240px 0 0 rgba(251, 223, 171, 1),
            112px 240px 0 0 rgba(251, 223, 171, 1),
            128px 240px 0 0 rgba(255, 135, 135, 1),
            144px 240px 0 0 rgba(255, 135, 135, 1),
            160px 240px 0 0 rgba(251, 223, 171, 1),
            176px 240px 0 0 rgba(251, 223, 171, 1),
            192px 240px 0 0 rgba(251, 223, 171, 1),
            208px 240px 0 0 rgba(206, 176, 124, 1),
            224px 240px 0 0 rgba(255, 235, 59, 1),
            240px 240px 0 0 rgba(255, 235, 59, 1),
            256px 240px 0 0 rgba(0, 0, 0, 1),
            16px 256px 0 0 rgba(255, 235, 59, 1),
            32px 256px 0 0 rgba(255, 235, 59, 1),
            48px 256px 0 0 rgba(0, 0, 0, 1),
            64px 256px 0 0 rgba(0, 0, 0, 255),
            80px 256px 0 0 rgba(206, 176, 124, 1),
            96px 256px 0 0 rgba(251, 223, 171, 1),
            112px 256px 0 0 rgba(251, 223, 171, 1),
            128px 256px 0 0 rgba(251, 223, 171, 1),
            144px 256px 0 0 rgba(251, 223, 171, 1),
            160px 256px 0 0 rgba(251, 223, 171, 1),
            176px 256px 0 0 rgba(251, 223, 171, 1),
            192px 256px 0 0 rgba(206, 176, 124, 1),
            208px 256px 0 0 rgba(0, 0, 0, 255),
            224px 256px 0 0 rgba(0, 0, 0, 255),
            240px 256px 0 0 rgba(255, 235, 59, 1),
            256px 256px 0 0 rgba(255, 235, 59, 1);
    }
}
